build
devel
logs
.*
*.csv
*.pyc
input_csv/*
!input_csv/README.md
!input_csv/demo_transform_sim.csv
!input_csv/demo_transform_real.csv
!input_csv/demo_walk_sim.csv
!input_csv/demo_walk_real.
/*.md
output_data/*
!output_data/README.md

/log
/install
/build
/log_file
bag/

**/install
**/build
**/log
**/COLCON_IGNORE
src/livox_ros_driver2/